*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

header h1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    color: rgb(142, 72, 221);
    text-shadow: 2px 2px 2px #b9b7b7;
}

h1 {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(41, 40, 42);
    margin-top: 50px;
    margin-bottom: 30px;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #4d4d4d;
    margin-top: 20px;
}

body {
    font-family: "Georgia", serif;
    line-height: 1.5;
    background: linear-gradient(to bottom, #f9f9f9, #ffffff);
}

p {
    font-family: "Arial", sans-serif;
    text-align: center;
}

.error {
    color: #ff0000;
}

a {
    text-decoration: none;
    color: rgb(142, 72, 221);
}

a:hover {
    color: #a145c5;
}

label {
    font-family: "Trebuchet MS", Arial, sans-serif;
    display: block;
    margin-top: 10px;
    color: #4d4d4d;
    font-weight: bold;
}

label:hover {
    color: rgb(142, 72, 221);
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
}

th,
td {
    border: 1px solid #cccccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    color: #4d4d4d;
}

.disponible {
    background-color: #75d476;
}

tr.noDisponible {
    color: #fff;
    background-color: #b13440;
}

td.categoria {
    text-align: center;
    font-weight: bold;
}

.texto-centrado {
    text-align: center;
}
    
